#registration {
    width: 500px;
    position: relative;
    margin: 50px 0 0 -250px;
    left: 50%;
    border: 1px solid #eee;
    padding: 0 20px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #eee;
}
.page {
    padding: 0 20px;
}
.add-book select {
    width: 350px;
}
.add-book input.form-control {
    width: 500px;
}
.add-book input[name="count"].form-control {
	width: 70px; 
}
.add-book #exemplars .input-group {
	width: 150px;
	margin-bottom: 15px;
}
.add-book #exemplars .input-group input {
	width: 210px;
}
.book-filter {
	overflow: hidden;
}
.book-filter .form-group {
	float: left;
	width: 200px;
	margin: 0 20px 20px 0;
}
.profile {
	overflow: hidden;
}
.office-menu {
	margin-right: 20px;
}
.office-menu li {
	float: none;
}